<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SitePrefix" value="http://localhost:58894/ExpertsUpload/"/>
    <!--<add key="SitePrefix" value="http://dgtracking.co.il/ExpertsUpload/"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="dbDataConnectionString" connectionString="Data Source=5.100.248.248;Initial Catalog=Yossi;Persist Security Info=True;User ID=yossi;Password=yoshyge65" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbDataConnectionString" connectionString="Data Source=62.219.78.230;Initial Catalog=dgtracking_co_il_dgLaw;Persist Security Info=True;User ID=dgtracking_co_il_dgLaw;Password=dgtrackingJadekia556" providerName="System.Data.SqlClient" />-->
    <add name="dbDataConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A7G0054\SQLEXPRESS;Initial Catalog=dgTracking;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
   
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <!--<machineKey validationKey="19998D89A23B94C1EF5E966F66E124D6EA022CEEF53846F49http://localhost:58894/Tracking.asmxEA6820773DB152541DE2AF42E27A2AF62B9A00C19E3FC38AD663B3B24DF728AED46CEB35891D48F" decryptionKey="D9ED9073963FC31FB5C61A95BE4500602F807E3705AB82AC" validation="SHA1"/>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="LoginMain.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>